{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container-fluid mb-2 header-container">
    <div class="col">
        {% if request.user.is_superuser %}
        <div class="col text-center mt-3">
            <h2 class="logo-font text-center">Add Blog Post</h2>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-right">
                <a class="btn btn-outline-black rounded-0" href="{% url 'blog' %}">Cancel</a>
                <button class="btn btn-black rounded-0" type="submit">Create Post</button>
            </div>
        </form>
        <br>
        {% else %}
        <div class="col text-center mt-3">
            <h2 class="logo-font text-center">You're not allowed on this page.</h2>
            <a href="{% url 'blog' %}" class="btn btn-outline-black rounded-0 btn-lg">
            <span class="icon">
            <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Back to blog</span>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
