{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid mb-2 header-container">
        <div class="row">
           <div class="col text-center mt-3">
              <h2 class="logo-font text-center">Blog</h2>
           </div>
        </div>
        <div class="col-md-8 card mb-4  mt-3 mx-auto">
            <div class="row">
                <ul>
                    {% for post in object_list %}
                <li>
                    <a class="text-black" href="{% url 'post_detail' post.pk %}">
                        {{ post.title }}
                    </a>
                    <a class="text-info" href="{% url 'edit_post' post.pk %}"><small>(Edit)</small></a>
                    <br>
                    {{ post.body }}
                </li>{% endfor %}
                </ul>
            </div>
        </div>
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'add_post' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="text-uppercase">Add New Post</span>
                </a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
